<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./image.css">
</head>
<body>
    <h2>Responsive Image</h2>
    <div class="display">
        <img src="/assets/nature.jpg" class="responsive-img">
    </div>
    <h2>Round image</h2>
    <div class="display">
        <img src="/assets/nature.jpg" class="round-img">
    </div>
</body>
</html>
