<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./button.css" rel="stylesheet">
</head>
<body>
    <h2>Primary Button</h2>
    <section class="display">
             <button class="btn-filled blue" >
                 Blue
             </button>
             <button class="btn-filled green" >
                 Green
            </button>
            <button class="btn-filled red" >
                Red
            </button>
            
    </section>
    <h2>Link Buttons</h2>
    <section class="display">
             <a href="#" class="link-btn blue-outlined">Blue</a>
             <a href="#" class="link-btn green-outlined">Green</a>
             <a href="#" class="link-btn red-outlined">Red</a>
            
    </section>
    <h2>Button with icons</h2>
    <section class="display">
             <button class="icon-btn">Add to cart<img src="/assets/shopping-cart-white.svg"></button>

             <button class="icon-btn">Message<img src="/assets/send.svg"></button>
            
    </section>
    <h2>Floating button</h2>
    <section class="display">
        <a href="#" class="floating-btn"><img src="/assets/x.svg"></a>
        <a href="#" class="floating-btn"><img src="/assets/upload-white.svg"></a>
</section>
    
</body>
</html>