<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="avatar.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <h1>
     Round   
    </h1>
    <section class="display">
        <img src="../../assets/avatar.jpg" class="avatar xs round">
        <img src="../../assets/avatar.jpg" class="avatar sm round">
        <img src="../../assets/avatar.jpg" class="avatar md round">
        <img src="../../assets/avatar.jpg" class="avatar lg round">
    </section>
    <h1>Square</h1>
    <section class="display">
        <img src="../../assets/avatar.jpg" class="avatar xs square">
        <img src="../../assets/avatar.jpg" class="avatar sm square">
        <img src="../../assets/avatar.jpg" class="avatar md square">
        <img src="../../assets/avatar.jpg" class="avatar lg square">
    </section>
</body>

</html>