<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="avatar.css" rel="stylesheet">
    <title>Avatar</title>
</head>

<body>
    <nav class="header-nav">
        <div class="brand">

            <a href="#">
                <h1 class="heading-lg">Nectar UI</h1>
            </a>
        </div>

        <div class="actions">
            <a href="./components/alert/alert.html"><button class="btn-cta">Docs</button></a>
            <a href="https://github.com/suryxks/Nectar-ui" target="_blank"><img src="/assets/github.svg"
                    alt="github-icon"></a>
        </div>
    </nav>
    <div class="main-section">
        <nav class="side-nav">

            <ul>

                <li class="sidebar-list-item heading-md fw-bold active"><a href="/components/avatar/avatar.html">Avatar</a>
                </li>
                <li class="sidebar-list-item heading-md fw-bold"> <a href="/components/alert/alert.html"
                        class="active">Alert </a></li>
                <li class="sidebar-list-item heading-md fw-bold"> <a href="/components/badge/badge.html">Badge </a></li>
                <li class="sidebar-list-item heading-md fw-bold"> <a href="/components/button/button.html">Buttons </a>
                </li>
                <li class="sidebar-list-item heading-md fw-bold"> <a href="/components/cards/cards.html">Cards</a></li>
                <li class="sidebar-list-item heading-md fw-bold"> <a href="/components/image/image.html">Image</a></li>
                <li class="sidebar-list-item heading-md fw-bold"> <a href="/components/input/input.html">Input</a></li>
                <li class="sidebar-list-item heading-md fw-bold"> <a href="/components/text-utilities/text.html">Text
                        utilities</a></li>
                <li class="sidebar-list-item heading-md fw-bold"> <a
                        href="/components/navigation/navigation.html">Navigation</a></li>
                <li class="sidebar-list-item heading-md fw-bold"> <a href="/components/list/list.html">List</a></li>
            </ul>
        </nav>
        <div class="display-code">
            <h1 class="heading-xl">
                Avatar
            </h1>
            <p class="text-md">An avatar is a visual representation of a user or entity. Avatars can be used to
                represent people or objects.</p>
            <h2 class="heading-lg">Round Avatar</h2>
            <p class="text-md">Round avatar has 5 different sizes you can use the class Name <span
                    class="active">round</span> and <span class="active">avatar</span> to get a round avatar</p>
            <section class="display">
                <img src="../../assets/avatar.jpg" class="avatar xs round">
                <img src="../../assets/avatar.jpg" class="avatar sm round">
                <img src="../../assets/avatar.jpg" class="avatar md round">
                <img src="../../assets/avatar.jpg" class="avatar lg round">
            </section>
            <iframe src="https://www.thiscodeworks.com/embed/62122aa05362a500156c2b6e" style="width: 100%; height: 138px;" frameborder="0"></iframe>
            <h2 class="heading-lg">Square Avatar</h2>
            <p class="text-md">Square avatar has 5 different sizes you can use the class Name <span
                    class="active">square</span> and <span class="active">avatar</span> to get a square avatar</p>
            <section class="display">
                <img src="../../assets/avatar.jpg" class="avatar xs square">
                <img src="../../assets/avatar.jpg" class="avatar sm square">
                <img src="../../assets/avatar.jpg" class="avatar md square">
                <img src="../../assets/avatar.jpg" class="avatar lg square">
            </section>
            <iframe src="https://www.thiscodeworks.com/embed/62122b695362a500156c2b71" style="width: 100%; height: 138px;" frameborder="0"></iframe>
        </div>
    </div>
</body>

</html>