<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./cards.css" rel="stylesheet">
</head>

<body>
    <h2>Vertical Card</h2>
    <div class="display">

        <div class="card">
            <img src="/assets/sapiens.jpg">

            <p class="title">Sapiens</p>
            <p class="author">Yuval Noah Harari</p>

            <div class="price">

                <h4>₹799</h4>
                <h4 class="strike">₹999</h4>

            </div>
            <div class="button-container">
                <button class="icon-btn">Add to cart<img src="/assets/shopping-cart-white.svg"></button>

            </div>

        </div>

        <div class="card">

            <img src="/assets/meluha.jpg">
            <p class="title">Immortals of Meluha</p>
            <p class="author">Amish</figcaption>
                <div class="price">

                    <h4>₹799</h4>
                    <h4 class="strike">₹999</h4>

                </div>

                <div class="button-container">
                    <button class="icon-btn">Add to cart<img src="/assets/shopping-cart-white.svg"></button>

                </div>
        </div>
    </div>
    <h2>Cards With Badge</h2>
    <div class="display">

        <div class="card card-w-badge">
            <div class="badge">Best Seller</div>
            <img src="/assets/sapiens.jpg" alt="sapiens" class="card-w-badge-img">

            <p class="title">Sapiens</p>
            <p class="author">Yuval Noah Harari</p>
            <div class="price">

                <h4>₹799</h4>
                <h4 class="strike">₹999</h4>

            </div>
            <div class="button-container">
                <button class="icon-btn">Add to cart<img src="/assets/shopping-cart-white.svg"></button>

            </div>

        </div>

        <div class="card card-w-badge">
            <div class="badge">Best Seller</div>
            <img src="/assets/meluha.jpg" alt="meluha" class="card-w-badge-img">

            <p class="title">Immortals of Meluha</p>
            <p class="author">Amish</figcaption>
                <div class="price">

                    <h4>₹799</h4>
                    <h4 class="strike">₹999</h4>

                </div>

                <div class="button-container">
                    <button class="icon-btn">Add to cart<img src="/assets/shopping-cart-white.svg"></button>

                </div>
        </div>
    </div>
    <h2>Card width text overlay</h2>
    <div class="display">

        <div class="card card-w-text-overlay">
            <img src="/assets/sapiens.jpg">
            <div class="text-overlay">Out Of Stock</div>
            <p class="title">Sapiens</p>
            <p class="author">Yuval Noah Harari</p>

            <div class="price">

                <h4>₹799</h4>
                <h4 class="strike">₹999</h4>

            </div>
            <div class="button-container">
                <button class="icon-btn" disabled="true">Add to cart<img src="/assets/shopping-cart-white.svg"></button>

            </div>

        </div>

        <div class="card card-w-text-overlay">

            <img src="/assets/meluha.jpg">
            <div class="text-overlay">Out Of Stock</div>
            <p class="title">Immortals of Meluha</p>
            <p class="author">Amish</figcaption>
                <div class="price">

                    <h4>₹799</h4>
                    <h4 class="strike">₹999</h4>

                </div>

                <div class="button-container">
                    <button class="icon-btn">Add to cart<img src="/assets/shopping-cart-white.svg"></button>

                </div>
        </div>
    </div>
    <h2>Text Card</h2>
    <div class="display">
        <div class="text-card">
            <h3 class="text-card-title">Title</h3>
            <h4 class="text-card-subtitle">Sub Title</h4>
            <p class="text-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            <a href="#" class="action-btn">Learn More</a>
        </div>
    </div>
    <h2>Card with Dismiss</h2>
    <div class="display">
        <div class="text-card">
            <a href="#" class="dismiss"><img src="/assets/x.svg"></a>
            <h3 class="text-card-title">Title</h3>
            <h4 class="text-card-subtitle">Sub Title</h4>
            <p class="text-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            <a href="#" class="action-btn">Learn More</a>
        </div>
    </div>
    <h2>Cards with shadow</h2>
    <div class="display ">

        <div class="card card-w-shadow">
            <img src="/assets/sapiens.jpg">

            <p class="title">Sapiens</p>
            <p class="author">Yuval Noah Harari</p>

            <div class="price">

                <h4>₹799</h4>
                <h4 class="strike">₹999</h4>

            </div>
            <div class="button-container">
                <button class="icon-btn">Add to cart<img src="/assets/shopping-cart-white.svg"></button>

            </div>

        </div>

        <div class="card card-w-shadow">

            <img src="/assets/meluha.jpg">
            <p class="title">Immortals of Meluha</p>
            <p class="author">Amish</figcaption>
                <div class="price">

                    <h4>₹799</h4>
                    <h4 class="strike">₹999</h4>

                </div>

                <div class="button-container">
                    <button class="icon-btn">Add to cart<img src="/assets/shopping-cart-white.svg"></button>

                </div>
        </div>
    </div>
</body>

</html>