<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./list.css">
</head>

<body>
    <h2>Ordered list</h2>
    <div class="display">
        <div class="ordered-list">
            <ol class="numbered-list">
                <li>Numbered List item 1</li>
                <li>Numbered List item 2</li>
                <li>Numbered List item 3</li>
                <li>Numbered List item 4</li>
                <li>Numbered List item 5</li>
            </ol>
            <ol class="alphabetic-list">
                <li>alphabetic List item 1</li>
                <li>alphabetic List item 2</li>
                <li>alphabetic List item 3</li>
                <li>alphabetic List item 4</li>
                <li>alphabetic List item 5</li>
            </ol>
            <ol class="roman-list">
                <li>roman List item 1</li>
                <li>roman List item 2</li>
                <li>roman List item 3</li>
                <li>roman List item 4</li>
                <li>roman List item 5</li>
            </ol>
        </div>
    </div>
    <h2>unordered list</h2>
    <div class="display">
        <div class="unordered-list">
            <ul class="square-list">
                <li>square List item 1</li>
                <li>square List item 2</li>
                <li>square List item 3</li>
                <li>square List item 4</li>
                <li>square List item 5</li>
            </ul>
            <ul class="circle-list">
                <li>circle List item 1</li>
                <li>circle List item 2</li>
                <li>circle List item 3</li>
                <li>circle List item 4</li>
                <li>circle List item 5</li>
            </ul>
            <ul class="disc-list">
                <li>disc List item 1</li>
                <li>disc List item 2</li>
                <li>disc List item 3</li>
                <li>disc List item 4</li>
                <li>disc List item 5</li>
            </ul>
        </div>
    </div>
    <h2>Stacked list</h2>
    <div class="display">
        <div class="stacked-list">
            <ul>
                <li class="stacked-list-item"><img src="../../assets/avatar.jpg" class="avatar sm round">
                    <p><span class="username">@user </span>followed You</p>
                </li>
                <li class="stacked-list-item"><img src="../../assets/avatar.jpg" class="avatar sm round">
                    <p><span class="username">@user </span>followed You</p>
                </li>
                <li class="stacked-list-item"><img src="../../assets/avatar.jpg" class="avatar sm round">
                    <p><span class="username">@user </span>followed You</p>
                </li>
                <li class="stacked-list-item"><img src="../../assets/avatar.jpg" class="avatar sm round">
                    <p><span class="username">@user </span>followed You</p>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>