<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link rel="stylesheet" href="./navigation.css">
</head>

<body>

    <nav class="header-nav">
        <div class="brand">

            <a href="#">
                <h1 class="heading-lg">Nectar UI</h1>
            </a>
        </div>

        <div class="actions">
            <a href="./components/alert/alert.html"><button class="btn-cta">Docs</button></a>
            <a href="https://github.com/suryxks/Nectar-ui" target="_blank"><img src="/assets/github.svg"
                    alt="github-icon"></a>
        </div>
    </nav>
    <div class="main-section">
        <nav class="side-nav">

            <ul>

                <li class="sidebar-list-item heading-md fw-bold"><a href="/components/avatar/avatar.html">Avatar</a>
                </li>
                <li class="sidebar-list-item heading-md fw-bold"> <a href="/components/alert/alert.html"
                        class="active">Alert </a></li>
                <li class="sidebar-list-item heading-md fw-bold"> <a href="/components/badge/badge.html">Badge </a></li>
                <li class="sidebar-list-item heading-md fw-bold"> <a href="/components/button/button.html">Buttons </a>
                </li>
                <li class="sidebar-list-item heading-md fw-bold"> <a href="/components/cards/cards.html">Cards</a></li>
                <li class="sidebar-list-item heading-md fw-bold"> <a href="/components/image/image.html">Image</a></li>
                <li class="sidebar-list-item heading-md fw-bold"> <a href="/components/input/input.html">Input</a></li>
                <li class="sidebar-list-item heading-md fw-bold"> <a href="/components/text-utilities/text.html">Text
                        utilities</a></li>
                <li class="sidebar-list-item heading-md fw-bold  active"> <a
                        href="/components/navigation/navigation.html">Navigation</a></li>
                <li class="sidebar-list-item heading-md fw-bold"> <a href="/components/list/list.html">List</a></li>
            </ul>
        </nav>
        <div class="display-code">
            <h1 class="heading-xl">Navigation</h1>
            <p class="text-md">A powerful, responsive navigation header, the navbar. Includes support for branding,
                navigation, and more</p>
            <h2 class="heading-lg">Simple Navbar</h2>
            <div class="display">
                <nav class="header-nav">
                    <div class="brand">

                        <a href="#">
                            <h1>Nectar UI</h1>
                        </a>
                    </div>

                    <div class="actions">
                        <button class="btn-cta">Docs</button>
                        <a href="#" class=""><img src="/assets/github.svg"></a>
                    </div>
                </nav>
            </div>
            <iframe src="https://www.thiscodeworks.com/embed/62125ad35362a500156c2bde"
                style="width: 100%; height: 229px;" frameborder="0"></iframe>
            <h2 class="heading-lg">Navbar with icon buttons and Search bar</h2>
            <div class="display">
                <nav class="header-nav">
                    <div class="brand">
                        <a href="#">
                            <h1>Store Name</h1>
                        </a>
                    </div>
                    <div class="search-bar">
                        <input type="text">
                        <img src="/assets/search.svg" class="search-icon">
                    </div>
                    <div class="actions">
                        <a href="#" class=""><img src="/assets/heart.svg" class="action"></a>
                        <a href="#" class=""><img src="/assets/shopping-bag.svg" class="action"></a>
                        <a href="#" class=""><img src="/assets/user (1).svg" class="action"></a>
                    </div>
                </nav>
            </div>
            <iframe src="https://www.thiscodeworks.com/embed/62125b0c5362a500156c2bdf" style="width: 100%; height: 294px;" frameborder="0"></iframe>
        </div>
    </div>

</body>

</html>