<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./navigation.css">
</head>

<body>
    <div class="display">
        <nav class="header-nav">
            <div class="brand">

                <a href="#">
                    <h1>Nectar UI</h1>
                </a>
            </div>

            <div class="actions">
                <button class="btn-cta">Docs</button>
                <a href="#" class=""><img src="/assets/github.svg"></a>
            </div>
        </nav>
    </div>
    <div class="display">
        <nav class="header-nav">
            <div class="brand">

                <a href="#">
                    <h1>Store Name</h1>
                </a>
            </div>
            <div class="search-bar">
                <input type="text">
                <img src="/assets/search.svg" class="search-icon">
            </div>
            <div class="actions">
                
                <a href="#" class=""><img src="/assets/heart.svg" class="action"></a>
                <a href="#" class=""><img src="/assets/shopping-bag.svg" class="action"></a>
                <a href="#" class=""><img src="/assets/user (1).svg" class="action"></a>
                
            </div>
        </nav>
    </div>
</body>

</html>