@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@400;700&display=swap');

:root {
    --display-background: #e2e8f0;
    --primary-background: #dbeafe;
    --primary-text: #2563eb;
    --white: #fffffe;
    --warning-background: #fed7aa;
    --warning-text: #f97316;
    --danger-background: #fca5a5;
    --danger-text: #dc2626;
    --success-background: #bbf7d0;
    --success-text: #10b981;
    --cta: #e60067;
}

* {
    font-family: 'Outfit', sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
}

html {
    height: 100%;
    background-color: var(--white);
}

.side-nav {
    text-align: center;
}

.sidebar-list-item {
    list-style: none;
    margin: 1rem;
}

.sidebar-list-item>a {
    text-decoration: none;
    color: black;
}

.sidebar-list-item>a:visited {
    text-decoration: none;
    color: inherit;
}

.main-section {
    display: grid;
    grid-template-columns: 1.5fr 8fr;
}

.display-code{
    padding: 2rem;
}

.active {
    color: var(--cta);
}

.side-nav {

    box-shadow:
        12px 0px 10px -10px hsl(0deg 0% 0% / 0.2);
}

.display {
    background-color: var(--display-background);
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 80%;
    border-radius: 0.4rem;
    height: max-content;
    margin: 1rem auto;
    flex-direction: column;
    align-items: center;
    min-height: 10vh;
}
.header-nav {
    box-shadow: 0px 10px 4px -4px hsl(0deg 0% 0% / 0.2);
    position: sticky;
    top:0;

}

.hero {
   
    display: flex;
    justify-content: space-around;
    padding: 5rem 10rem;

}

.hero-img {
    width: 100%;
    height: auto;
}

.actions-hero {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem auto;
}

.btn-cta {
    font-size: 1.5rem;
}

.btn-cta-outlined {
    font-size: 1.7rem;
    background-color: var(--white);
    box-shadow:
        2px 4px 8px hsl(0deg 0% 0% / 0.25);
    border-radius: 0.2rem;
    color: var(--cta);
    margin: 2rem;
    border: none;
    
}

.installation {
   
    text-align: center;
    margin: 1rem 5rem;
}



.installation>iframe {
    border-radius: 0.1rem;

}
