@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
    --display-background: #e2e8f0;
    --primary-background: #dbeafe;
    --primary-text: #2563eb;
    --white:#fffffe;
    --warning-background: #fed7aa;
    --warning-text: #f97316;
    --danger-background: #fca5a5;
    --danger-text: #dc2626;
    --success-background: #bbf7d0;
    --success-text: #10b981;
}

* {
    font-family: 'Outfit', sans-serif;
}

.display {
    background-color: var(--display-background);
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 80%;
    border-radius: 0.4rem;
    height: max-content;
    margin: 1rem auto;
    flex-direction: column;
    align-items: center;
    min-height:10vh;
}