<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="badge.css" rel="stylesheet">

</head>

<body>
    <h2>Badge on icons</h2>
    <section class="display">


        <div>

            <img src="/assets/shopping-cart.svg" alt="shopping-cart-icon" class="icon">
            <span class="badge-icon">4</span>
            <img src="/assets/user.svg" alt="user-icon" class="icon">
            <span class="badge-icon">2</span>
        </div>
    </section>
    <h2>
        Badge on avatar
    </h2>
    <section class="display ">
        <!-- <img src="../../assets/avatar.jpg" class="avatar sm round">
        <span class="avatar-badge"></span> -->
        <div class="badge-on-avatar"></div>
        <img src="../../assets/avatar.jpg" class="avatar md round">
        <span class="avatar-badge"></span>
        <img src="../../assets/avatar.jpg" class="avatar lg round">
        <span class="avatar-badge"></span>
    </section>
    </div>
</body>

</html>