<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Utilities</title>
    <link rel="stylesheet" href="./text.css">
</head>

<body>

    <nav class="header-nav">
        <div class="brand">

            <a href="#">
                <h1 class="heading-lg">Nectar UI</h1>
            </a>
        </div>

        <div class="actions">
            <a href="./components/alert/alert.html"><button class="btn-cta">Docs</button></a>
            <a href="https://github.com/suryxks/Nectar-ui" target="_blank"><img src="/assets/github.svg"
                    alt="github-icon"></a>
        </div>
    </nav>
    <div class="main-section">
        <nav class="side-nav">

            <ul>

                <li class="sidebar-list-item heading-md fw-bold"><a href="/components/avatar/avatar.html">Avatar</a>
                </li>
                <li class="sidebar-list-item heading-md fw-bold"> <a href="/components/alert/alert.html"
                        class="active">Alert </a></li>
                <li class="sidebar-list-item heading-md fw-bold"> <a href="/components/badge/badge.html">Badge </a></li>
                <li class="sidebar-list-item heading-md fw-bold"> <a href="/components/button/button.html">Buttons </a>
                </li>
                <li class="sidebar-list-item heading-md fw-bold"> <a href="/components/cards/cards.html">Cards</a></li>
                <li class="sidebar-list-item heading-md fw-bold"> <a href="/components/image/image.html">Image</a></li>
                <li class="sidebar-list-item heading-md fw-bold"> <a href="/components/input/input.html">Input</a></li>
                <li class="sidebar-list-item heading-md fw-bold active"> <a href="/components/text-utilities/text.html">Text
                        utilities</a></li>
                <li class="sidebar-list-item heading-md fw-bold"> <a
                        href="/components/navigation/navigation.html">Navigation</a></li>
                <li class="sidebar-list-item heading-md fw-bold"> <a href="/components/list/list.html">List</a></li>
            </ul>
        </nav>
        <div class="display-code">
            <h1 class="heading-xl">Text Utilities</h1>
            <p class="text-md">Different Text Sizes and font weights can be used by sing the respective class name</p>
            <h2 class="heading-lg">Headings</h2>
            
            <div class="display">
                <div class="text-display">
                    <div class="heading-xl">Headline 1</div>
                    <div class="heading-lg">Headline 2</div>
                    <div class="heading-md">Headline 3</div>
                    <div class="heading-sm">Headline 4</div>
                    <div class="heading-xs">Headline 5</div>

                </div>
            </div>
            <iframe src="https://www.thiscodeworks.com/embed/621258745362a500156c2bd7" style="width: 100%; height: 151px;" frameborder="0"></iframe>
            <h2 class="heading-lg">Text alignments</h2>
            <div class="display">
                <div class="text-display">
                    <div class="text-left">Left aligned Text</div>
                    <div class="text-center">Centered text</div>
                    <div class="text-right">Right aligned text</div>

                </div>
            </div>
            <iframe src="https://www.thiscodeworks.com/embed/621258b25362a500156c2bd9" style="width: 100%; height: 125px;" frameborder="0"></iframe>
            <h2 class="heading-lg">Text Sizes</h2>
            <div class="display">
                <div class="text-display">
                    <p class="text-xl">Extra large sized Text</p>
                    <p class="text-lg">large sized Text</p>
                    <p class="text-md">medium sized Text</p>
                    <p class="text-sm">small sized Text</p>
                    <p class="text-xs">extra small sized Text</p>

                </div>
            </div>
            <iframe src="https://www.thiscodeworks.com/embed/621258f45362a500156c2bdb" style="width: 100%; height: 151px;" frameborder="0"></iframe>
            <h2 class="heading-lg">Font weights</h2>
            <div class="display">
                <div class="text-display">
                    <div class="fw-light">Light</div>
                    <div class="fw-regular">regular</div>
                    <div class="fw-semibold">Semibold</div>
                    <div class="fw-bold">Bold</div>
                    <div class="fw-black">Black</div>
                </div>
            </div>
            <iframe src="https://www.thiscodeworks.com/embed/6212591c5362a500156c2bdc" style="width: 100%; height: 151px;" frameborder="0"></iframe>
        </div>
    </div>
</body>

</html>