<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="alert.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <section class="display">
        <div class="alert primary">
            <p>This is a Primary alert</p>
        </div>
        <div class="alert warning">
            <span class="material-icons">report_problem</span>
            <p>This is a Warning alert</p>
        </div>
        <div class="alert danger">
            <span class="material-icons"> error </span>
            <p class="alert-content">This is a Danger Alert</p>
        </div>
        <div class="alert success">
            <span class="material-icons"> check_circle </span>
            <p class="alert-content">This is a SUCCESS alert</p>
        </div>

    </section>
</body>

</html>